[Unit]
Description=noVNC proxy for :%i
After=x11vnc@%i.service
Requires=x11vnc@%i.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/sandboxmcp/visual.env
ExecStart=/usr/bin/websockify --web=/usr/share/novnc/ ${NOVNC_LISTEN}:${NOVNC_PORT} ${NOVNC_LISTEN}:${VNC_PORT}
Restart=always

[Install]
WantedBy=multi-user.target
