[Unit]
Description=XFCE Session on :%i
After=xvfb@%i.service
Requires=xvfb@%i.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/sandboxmcp/visual.env
Environment=DISPLAY=:%i
ExecStart=/usr/local/bin/start-xfce.sh %i
Restart=always

[Install]
WantedBy=multi-user.target
